{% extends "base.html.twig" %}

{% block title %}Accès refusé - {{ parent() }}{% endblock %}

{% block body %}
    <section class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Accès refusé</h1>
                <div><p><strong>Vous devez activer votre compte pour effectuer cette action</strong></p>
                    <p><a href="{{ path('user_profile') }}">Mon compte</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}