<!-- Image viewer Modal -->
<div class="modal modal-youtube" tabindex="-1" role="img" id="youtubeModal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
        <span aria-hidden="true">&times;</span>
    </button>
    <iframe src="" frameborder="0" class="modal-video-iframe" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>