$font-family-base:  "Open-sans", sans-serif;
$font-family-hero: "Shadows Into Light", cursive;

$dark-color:  #373A43;
$dark-hover-color: #111111;
$light-color: #FAFAFA;
$dark-with-opacity: rgba(10,10,10,0.7);

