$font-family-base: "Open-sans", sans-serif;
$font-family-hero: "Shadows Into Light", cursive;

$body-bg: #222222;
$content-bg: #fffafa;
$dark-color: #373A43;
$primary: #474A53;
$dark-hover-color: #111111;
$light-color: #FAFAFA;
$dark-with-opacity: rgba(10, 10, 10, 0.7);
$box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);