body {
    font-family: "Open Sans", sans-serif;
}

.section-hero{
    background-image: url("../images/felipe-giacometti-sawa7hivsRs-unsplash.jpg");
    height:100vh;
    width:100%;
    background-size: cover;
}

.section-hero #hero-teasing{
    font-family: "Shadows Into Light", cursive ;
    font-size:60px;
    color:#FFFFFF;
    text-align: center;
}
