@import "~bootstrap/scss/bootstrap";
@import "vars";


body {
  font-family: $font-family-base;
  color: $dark-color;
}

a {
  color: $dark-color;

  &:hover {
    color: $dark-hover-color;
    text-decoration: none;
  }
}

.top-header {
  background-color: $dark-color !important;
}

.section-hero {
  background-image: url("../images/felipe-giacometti-sawa7hivsRs-unsplash.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.section-hero #hero-teasing {
  font-family: $font-family-hero;
  font-size: 60px;
  text-align: center;
  color: $light-color;
}

.scroll-down {
  position: absolute;
  bottom: 10%;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  color: $dark-color;

  i {
    font-size:60px;
  }
}


/** Tricks section */
.tricks-list {
  font-size: 16px;

  .trick-item {

    .trick-item-content {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

      .trick-image {
        display: block;
        width: 100%;
      }

      .trick-infos {

        .trick-action-button {
          float: right;
        }
      }
    }
  }
}