@import "vars";
@import "~bootstrap";

body {
  font-family: $font-family-base;
  color: $dark-color;
  padding-top: 72px;
  background-color: $body-bg;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

a {
  color: $dark-color;

  &:hover {
    color: $dark-hover-color;
    text-decoration: none;
  }
}

.container {
  background-color: $content-bg;
}

.modal-youtube {

  iframe {
    margin: 30px auto;
    width: 85%;
    display: block;
    height: 80%
  }

  button {
    color:$light-color;
  }
}

.modal-image {
  height: 100%;

  .modal-dialog {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%) !important;

    .modal-content {
      background-color: unset;
      border: none;

      .modal-body {
        padding: 0;

        button {
          color: $light-color;
        }


        .modal-image-img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
        }
      }
    }
  }
}

#main-navbar {
  background: none;
}

.top-header {
  background-color: $dark-color !important;
  height: 72px;
  box-shadow: $box-shadow;
}

.section-hero {
  background-image: url("../images/felipe-giacometti-sawa7hivsRs-unsplash.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#hero-teasing {
  font-family: $font-family-hero;
  font-size: 60px;
  text-align: center;
  color: $light-color;
}

.scroll-down {
  position: absolute;
  bottom: 10%;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  color: $dark-color;

  i {
    font-size: 60px;
  }
}

.scroll-up {
  color: $light-color;

  a {
    display:none;
  }

  i {
    font-size: 60px;
  }
}


/** Tricks section */
.tricks-list {
  font-size: 16px;

  .trick-item {

    .trick-item-content {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

      .trick-image-container {

        height: 152px;

        a {
          display: block;
          width: 100%;
          height: 100%;
          background-size: cover;
        }
      }
    }
  }
}

.trick-body {

  .trick-name {


    .trick-image {
      position: relative;
      background-color: $body-bg;
      max-height: 576px;
      overflow: hidden;


      .trick-action-button {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 5px 20px;
        color: $light-color;

        a {
          color:$light-color;
        }

      }
    }

    img {
      width: 100%;
      opacity: 0.7;
    }

    h1 {
      @extend #hero-teasing;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
    }
  }



  .trick-meta {

    li {
      margin: 0 30px;
    }
  }

  .trick-media-list {

    .trick-media-item {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .trick-media-item-content {
        text-align: center;
      }

      a {
        height: 150px;
        background-size: cover;
        background-position: center;
        border: solid $dark-color 1px;
        border-radius: 3px;
        text-align: center;

        :hover {
          cursor: pointer;
        }

        i {
          color: $red-youtube;
          font-size: 47px;
          margin: auto;
          vertical-align: middle;
          line-height: 150px;
        }
      }

      i.fa-plus-circle {
        font-size: 48px;
      }
    }

  }


  .trick-add {
    .trick-image {
      height: 200px;
    }
  }

  .comments-list {
    .comment-item {

      .user-photo {
        div {
          width: 48px;
          height: 48px;
          border-radius: 24px;
          overflow: hidden;
          border: $dark-color solid 1px;
        }

        img {
          width: 48px;
        }
      }
    }
  }

  .form-group {

    #trick_description.form-control {
      height:13rem;
    }
  }

}

.custom-file-label::after {
  content:"Parcourir"!important;
}