{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

    <section class="container-fluid col-12 section-hero">
        <div class="row h-100">
            <h1 id="hero-teasing" class="m-auto">Le site communautaire de Snowboard</h1>
            <span class="scroll-down"><a href="{{ path("home") }}#tricks"><i class="fas fa-arrow-circle-down"></i></a></span>
        </div>
    </section>
    <div id="tricks"></div>
    <section class="container pt-5 mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center pb-5">Les Tricks</h2>
            </div>
        </div>
        <div class="row tricks-list" id="tricks-list-container">
            {% for trick in tricks %}
                {% include 'trick/partials/trick_lisit_item.html.twig' %}
            {% endfor %}
        </div>
        {% if countTotal > tricks|length %}
            <div class="row">
                <div class="col-12 text-center pb-5">
                    <button id="loadmoretricks" class="btn btn-primary" data-jsonroute="{{ path('load_more_tricks') }}">Voir plus...</button>
                    <div class="scroll-up float-md-right d-block mt-sm-3 mt-md-0"><a href="{{ path("home") }}#tricks"><i class="fas fa-arrow-circle-up"></i></a></div>
                </div>
            </div>
        {% endif %}
    </section>

    {% include 'modals/delete.html.twig' %}
{% endblock %}