{% extends 'base.html.twig' %}

{% block title %}Trick Name - {{ parent() }}{% endblock %}

{% block body %}
    <div class="trick-body trick-add">
        <div class="container p-0 my-0">
            <section class="trick-name row">
                <div class="col-12">
                    <div class="trick-image">

                    </div>
                    <h1>Ajout d'un nouveau Trick</h1>
                </div>
            </section>
        </div>
        <div class="container pt-5">
            <section class="trick-description row justify-content-center pb-5">
                <div class="col-sm-12 col-md-10">
                    FORMULAIRE D'AJOUT
                </div>
            </section>
        </div>
    </div>
{% endblock %}